@import '../../node_modules/bulma/bulma.sass';

.social-icons .icon:not(:last-child) {
  margin-right: 10px;
}

.repo-tag-first .fab {
  margin-right: 5px;
}

.repo-tag-second a {
  color: white;
  text-decoration: underline;
}